* {
    margin: 0px;
    padding: 0px;
}

html { 
    min-height:99%; margin-bottom: 1px;
    
    }
body {
    margin: 0;
    background-color: #94CBE4;    
    background-image: url('./images/bgfade.gif');
    background-repeat: repeat-x;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size:14px;
}
a {
    color:#06F;
    outline: 0px;
}
a:link {
    text-decoration: none;

}
a:visited {
    color:#06F;
    text-decoration: none;

}
a:hover {
    color:#06C;
    text-decoration: underline;
}
a:active {
    border: 0;
}
h2 a:link {
    text-decoration: none;
    color: blue;
}
h2 a:visited {
    color: blue;
}
h2 a:hover {
    text-decoration: underline;
}
h3 a:hover {
    text-decoration: underline;

}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: black;
    /*font-variant: small-caps;*/
    text-shadow:#ccc 1px 1px 4px;
}
h2 {
    margin-bottom: 10px;
    font-size:1.2em;
    color:#009;
    text-align: center;
    /*font-variant: small-caps;
	text-shadow:#06C 0px 1px 2px;*/
}
h3 {
    margin-top: 3px;
    /*font-variant: small-caps;*/
    text-align: center;

}
strong {
    color: black;
}
ul {
    margin-left: 25px;
}
#container {
    max-width: 970px;
    min-width: 740px;
    margin: 10px auto 10px auto;
    padding: 0 20px;
    }
#masthead {

    height: 146px;
    }
#buffer {
    height: 41px;
}
.totop {
    float: right;
}
#contact {
    height: 60px;
    width: 230px;
    text-align: left;
    font-size: medium;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}
#contactus h2, #contactus h3, .textalignleft  {
    text-align: left;
}
#contact span{
    font-size: x-large;
    color: black;
}
#contactnumber {
    margin: 0;
    padding: 3px 3px 0 0;
}
#banner {
    display: block;
    clear: both;
    height: 135px;
    float: left;
    text-align: left;
}
a img{
    border: 0;
}
.thumbright {
    float: right;
}

/* Navigation Bar */
#navbar {
    margin: 0;
    clear: both;
}
#navfill {
    display: block;
    min-width: 10px;
    height: 40px;
    background-image: url('./images/navbar/nav-fill.gif');
    background-position: right top;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight:600;

    }
ul#nav li {
    position: relative;

    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.navleft {
    text-align: center;
    background-repeat: repeat-x;
    width: 15%;
    }
.navmiddle {
    text-align: center;
    background-repeat: repeat-x;
    }
.navmiddle a {
 text-align: center;}
 
#request_support {
    width: 23%;
}
#support_plans {
    width: 21%;
}
#services {
    width: 21%;
}
.navright {
    width: 20%;
}

ul#nav li a, ul#subsupportplans li a {

    display: block;
    height: 40px;
    line-height: 40px;
    font-weight:normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    /*color: #A8DFFD;*/
	color: #FFF;
    background-position: 0 0;
    overflow: hidden;
    
    border: 0px;


}
ul#nav li a:hover, ul#subsupportplans li a:hover {
    color: white;
}
ul#nav li.navleft a {
    height: 40px;
	background:url('./images/navbar/nav-middle2.png') no-repeat;
    /*background: url('./images/navbar/nav-left.gif') no-repeat;*/
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
	border-right:1px solid #333;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
ul#nav li.navleft a:hover {
    background-position: 0px -54px;
}
ul#nav li.navmiddle a {
    height: 40px;
    /*background: url('./images/navbar/nav-middle.gif') no-repeat;*/
	background:url('./images/navbar/nav-middle2.png') no-repeat;
    background-color: black;
    background-position: top left;
    border-top-width: 0px;
    border-bottom-width: 0px;
	border-right:1px solid #333;    
}
ul#nav li.navmiddle ul li a, ul#subsupportplans li a {
    background-image: none;
   /* background-color: black;*/
   background-color:#2B2B2B;
   height: 30px;
   line-height: 30px;
   border: 0px;
}
ul#nav li ul li a:hover, ul#subsupportplans li a:hover {
    background-color: #000970;
}

ul#nav li.navmiddle a:hover {
    background-position: 0 -54px;}

ul#nav li.navright a {
	background:url('./images/navbar/nav-middle2.png') no-repeat;
    /*background: url('./images/navbar/nav-right.gif') no-repeat;
    background-position: top right;*/
    background-position:98% 0%;
    border-top-width: 0px;
    border-bottom-width: 0px;
	border-right-width:0px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
ul#nav li.navright a:hover {
    /*background: url('./images/navbar/nav-right.gif') no-repeat;*/
    background-position: right -54px;*/
    background-position:98% 100%;
}
ul#nav li ul {
    position: absolute;
    left: -2999px;
}
ul#nav li ul li {
    float: left;
}
ul#nav li ul li a {
    text-align: left;
    padding: 0px 0px 0px 25px;
    width: 178px;
    margin: 0px 0px;
	font-size:13px;
	font-weight:bold;
}
ul#nav li:hover ul , #nav li.sfhover ul {
    left: -25px;
    z-index: 100;
    }
    
    
/* Content */
#content {
    clear: both;
    /*background-image:url('./images/navbar/content-middle.gif');
    background-position:right top;
    background-repeat: repeat-y;*/
    background-color: white;
    overflow: hidden;
    border: 1px black solid;
    margin: 0px 0px 0px 0px;
    padding: 10px 2% 10px;
    box-shadow: 1px 2px 20px #666;
    -moz-box-shadow: 1px 2px 20px #666;
    -webkit-box-shadow: 1px 2px 20px #666;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.third {
    display: block;
    width: 30%;
    float: left;
    padding: 10px;
    
}
.floatright {
    float: right;
    padding: 0 10px;
}
.floatleft {
    float: left;
    padding: 0 10px;
}
.twothirds {
    width: 64%;
    float: left;
    padding: 10px;


}
p.twothirds {
    margin-bottom: 10px;
}
.quarter {
    width: 23%;
    float: left;
    padding: 10px 0px;
    margin: 1%;
}
.half {
    width: 48%;
    float: left;
    padding: 10px 0px;
    margin: 1%;
}
li, .quarter li, .third li {
    margin-left: -15px;
}
.hosthalf {
    width: 63%;
    padding: 10px 1%;
}
.hosthalf .half{
    margin: 0 1%;
}
#rightcol {
    clear: both;
}
#rightcol h2 {
    text-align: center;
    padding-top: 0;
}
#leftcol {
    text-align: justify;
    width:100%;
}
#leftcol li {
    float: left;
    width: 20%;
    text-align: center;

}
#content-footer {
    clear: both;
    height:8px;
}
#footer-left {

    width: 10px;
    height: 8px;
    /*background-image:url('./images/navbar/footer-left.gif');*/
    float: left;
}

#footer-right {
    
    padding-top: 5px;
    text-align: center;
    /*background-image: url('./images/navbar/footer.gif');
    background-repeat: no-repeat;
    background-position: right top;*/
    overflow: hidden;
    height: 40px;
    min-width: 730px;

}
#footer {
    text-align: center;
    color:#666;
}
.clearfloat {
    clear: both;
}
.centerme {
    text-align:center;
    vertical-align: middle;
    margin: 0 auto;
}
.alignright {
    text-align: right;
    vertical-align: top;
}
#content img {
    display: block;
    margin: 5px auto;
}



/* Table Settings */
th.rowscope {
    text-align: left;
    border: 1px black solid;
    border-left: 0px;
    background-color: #ccc;
    background-image: url('./images/th-left.gif');
    padding: 1px 8px 1px 5px;
    background-repeat: repeat-y;
}
.pricecol {
    width: 33%;
}
.colcent {
    text-align: center;
}
table {
    color: black;
    width: 100%;

    border-collapse: collapse;
        
}
td {
    text-align: center;
    padding: 4px 3px;
    background-color: #fff;
    color: black;
    border: 1px black solid;

    }
em.star {
    color: red;
}
.linkwithin {
    text-transform: capitalize;
}
caption {
    margin-bottom: inherit;
}


/* Contact Form */
.required {
    color: red;
}
.success {
    text-align: center;
    padding: 3px;
    display: block;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    border: thin black solid;
    background-color: #000970;
}
.names {
    display: block;

    margin: 5px 5px;

}
textarea {
    width: 98%;
   /* background-color: #FEFFDD;*/

    margin: 5px;
    font-family: inherit;

}
#messageContentsect {

    margin: 5px 0;
    text-align: left;

}
input#reset {
    border: 0;
    background-color: transparent;
    color: maroon;
    display: block;
    text-decoration: none;
}
.names {
    font-family:inherit;
    margin: 0;
    padding: 0;
}
input {

    width: 280px;
}
#location input{
    width: 90%;
}
input#reset:hover {
    text-decoration: underline;
    cursor: pointer;
}
.test {
    margin: 10px;
}

.names label, #messageContentsect label {
    display: block;
    text-align: left;
    clear: both;

}
.names input, .names select{
    /*background-color: #FEFFDD;*/
    font-size: medium;
    margin-left: 5px;
    font-family: inherit;
}

.ticket label {
    clear:both;
    display: block;
    text-align: left;
    float: left;
    width: 100px;
}
.ticket input, .ticket select {
    font-size: medium;
    margin: 3px 3px;
    font-family: inherit;
    clear: both;
    width: 50%;
}
.date input {
    width: 100px
}
.equipment input, .equipment select{
    width: 80%;
    font-size: small;
}

.ticket {
    margin: 0px 0px 3px 15px;
}

.parts div{
    display: block;
    float: left;
    
}

.parts label{
    display: block;    
    float: none;
    
}
.parts input, .parts select{
   width: 95%;
   float: none;
}
hr {
    margin: 3px 0;
}

.buttons input {
    padding: 3px 10px;
    width: auto;
    margin: 0 auto;

}
.buttons {
    display: block;
    margin: 0 auto;
    width: 75px;
}
.client{
    width: 20px;
    margin-left: 10px;
}
#catcha {
    width: 310px;
    margin: 0 auto;
}


/* Table Settings */
.tableborder {
    background-image: url('./images/tabletop.gif');
    background-repeat: no-repeat;
    font-variant: small-caps;
    font-weight: bold;
    border-color: black;
}
#top-left-table {
    background-position: top left;    
    height: 40px;
    border-left: 0px;
    border-top: 0px;
    
}
.top-middle-table {
    background-position: -10px 0px;
    height: 40px;
    border-top: 0px;
}
#top-right-table {
    background-position: right top;
    height: 40px;
    border-right: 0;
    border-top: 0px;
}
th.tableborder {
    border: 1px black solid;
    border-top: 0;
}
.td-right {
    background-image: url('./images/td-right.gif');
    background-repeat: repeat-y;
    background-color: white;
    background-position: right top;
    border-right: 0px;
    padding: 0 5px;
}
#th-bottom {
    background-color: transparent;
    background-image:url('./images/th-bottom.gif');
    background-position: left bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    border-left: 0px;
    border-bottom: 0px;
    text-align: left;
    padding-left: 5px;

    
}
.td-bottom {
    background-color: #fff;
    background-image: url('./images/td-bottom-middle.gif');
    background-repeat: repeat-x;
    overflow: hidden;
    background-position: left bottom;
    border-bottom: 0px;
}
#td-bottom-right{
    background-color: transparent;
    background-image: url('./images/td-bottom.gif');
    background-position: right bottom;
    background-repeat: no-repeat;
    border-bottom: 0px;
    border-right: 0px;
}
.pricing {
    margin: 1%;
}


/* Section borders */
.sect-top-left, .sect-bottom-left, .sect-top-right, .sect-bottom-right {
    background-image: url('./images/sect/sect.gif'); /* background-color: #E6F7F7 */
    overflow: hidden;
    background-repeat: no-repeat;
}
.sect-top-left, .sect-bottom-left{
    height: 6px;
    width: 6px;
    margin: 0;
    padding: 0px;
    background-repeat: no-repeat;
    float: left;
}
.sect-top-right, .sect-middle, .sect-bottom-right {

    min-width: 50px;
    
}
.sect-top-left {
    background-position: top left;
}

.sect-top-right {
    background-position: right top;
    height: 6px;

}
.sect-middle {
    padding: 3px 15px;
    background-position: right top;
    background-image: url('./images/sect/sect-middle.gif');
    background-repeat: repeat-y;
    border-left: 1px black solid;
    clear: both;

    }
#supportplans .sect-middle {
    min-height: 185px;
}
.sect-bottom-left {
    background-position: left bottom;
}
.sect-bottom-right {
    background-position: right bottom;
    height: 6px;

}

/* Webhost Section settings */
#webhost .sect-top-left, #webhost .sect-bottom-left, #webhost .sect-top-right, #webhost .sect-bottom-right {
    background-image: url('./images/sect/sect-webhost.gif');
}
#webhost .sect-middle {
    background-image: url('./images/sect/sect-middle-webhost.gif');
    background-color: #FFD5CB;
}

/* SubNavigation Bar 
.subnav{
    margin-top: 50px;
}
.subnav .sect-top-left, .subnav .sect-bottom-left, .subnav .sect-top-right, .subnav .sect-bottom-right {
    background-image: url('./images/sect/subnav.jpg');
}
.subnav .sect-top-left, .subnav .sect-bottom-left {
    background-position: top left;
    width: auto;
    }
.subnav .sect-top-right, .subnav .sect-bottom-right {
    background: 0;
    width: 0;
}

.subnav .sect-middle {
    background-image: url('./images/sect/subnav-middle.jpg');
    background-repeat: repeat-y;
    background-position: left;
    border: 0;
}
.subnav .sect-bottom-left, .subnav .sect-bottom-right {
    background-image: url('./images/sect/subnav.jpg');
    height: 6px;
}
*/

/* Test Changes */

.sect-top-left, .sect-bottom-left, .sect-top-right, .sect-bottom-right {
    background-image: url('./images/sect/fade-header.jpg');
}
.sect-middle {
    background-image: url('./images/sect/fade-main.jpg');
    color: black;
    border-left: 0;
    background-repeat: no-repeat;
    }
.sect-bottom-left, .sect-bottom-right {
    background-image: none;
    height: 0;
}
#webhost .sect-top-left, #webhost .sect-bottom-left, #webhost .sect-top-right, #webhost .sect-bottom-right {
    background-image: url('./images/sect/fade-header-webhost.jpg');
} 
#webhost .sect-middle {
    background-image: url('./images/sect/fade-main-webhost.jpg');
    background-color: #FFD5CB;
    border: 0;
}


/* Test SubNav */
.subnav .sect-top-left, .subnav .sect-bottom-left, .subnav .sect-top-right, .subnav .sect-bottom-right {
    background-image: url('./images/sect/sect-subnav.gif');   
}
.subnav .sect-middle{
    background-image: url('./images/sect/sect-middle-subnav.gif');
    background-position:right top;
    border-left: 1px black solid;
    background-repeat: repeat-y;
    background-color: #F2F2F2;
}
.subnav .sect-bottom-left, .subnav .sect-bottom-right {
    background-image: url('./images/sect/sect-subnav.gif');
    height: 6px;
}


/* Support Plans*/
#subsopportplans ul li a {
border: 1px white solid;
background-color: #111;
font-size: small;
}
#subsupportplans li {
    list-style-type: none;
}
#subsupportplans a{
    display: block;
    float: left;
    width: 19%;
    
    
}
#subsupportplans {
}


/* Contact Form border
#contactform .sect-top-left, #contactform .sect-bottom-left, #contactform .sect-top-right, #contactform .sect-bottom-right {
    background-image: url('./images/sect/sect-contactform.gif');
}
#contactform .sect-middle {
    background-image: url('./images/sect/sect-middle-contactform.gif');
    background-repeat: repeat-y;
    border-left: 1px black solid;
}
#contactform .sect-bottom-left, #contactform  .sect-bottom-right {
    background-image: url('./images/sect/sect-contactform.gif');
    height: 6px;
}
*/
/* Construction border */
#construction .sect-top-left, #construction .sect-bottom-left, #construction .sect-top-right, #construction .sect-bottom-right {
    background-image: url('./images/sect/sect-construction.gif');
}
#construction .sect-middle {
    background-image: url('./images/sect/sect-middle-construction.gif');
    background-repeat: repeat-y;
    background-color: #00c;

}
#construction {
    width: 457px;

    margin: 0 auto;

}
#construction .sect-bottom-left, #construction  .sect-bottom-right {
    background-image: url('./images/sect/sect-construction.gif');
    height: 6px;
}

.shadow {
    box-shadow: 3px 1px 8px #999;
    -moz-box-shadow: 3px 1px 8px #999;
    -webkit-box-shadow: 3px 1px 8px #999;
}

.shadow_light {
    box-shadow: 3px 1px 8px #ccc;
    -moz-box-shadow: 3px 1px 8px #ccc;
    -webkit-box-shadow: 3px 1px 8px #ccc;
}

.round10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.round {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.round2 {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.round_bottom {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

a.small {
    font-size:14px;
}

label {
	padding:5px;
}

round_box {
	
}