.item {
	padding:5px;
	width:32%;
	font-size:105%;
	float:left;
	color:black;
}

ul.navi {
	list-style-type:none;
	padding-top:20px;
}

ul.navi li {
	padding-bottom:10px;
}

ul.navi li a {
	color:#069;
	text-transform:uppercase;
	font-weight:bold;
	font-size: larger;
}
.navi img 
{
    float: right;
    width: 35px;
}
#tech_status td {
	text-align:center;
}

h2 {
	text-align:left;
}
h3 {
	text-align:left;
}
.inside_shadow {
	box-shadow: 1px 1px 5px #CCC;
    -moz-box-shadow: 1px 1px 5px #CCC;
    -webkit-box-shadow: 1px 1px 5px #CCC;
}

td {
	border:none;
	text-align:left;
	vertical-align:top;
}

.text_input {
	height:16px;
}

.company_boxes {
	border:1px #333 solid;
	paddding:10px;
	width:47%;
	float:left;
	margin:10px; !important
	-moz-box-shadow:#CCC 2px 2px 8px;
    -webkit-box-shadow: #CCC 2px 2px 8px;
    box-shadow: #CCC 2px 2px 8px;
}
.border_box{
	border:1px #333 solid;
	paddding:10px;
	margin:10px; !important
	-moz-box-shadow:#CCC 2px 2px 8px;
    -webkit-box-shadow: #CCC 2px 2px 8px;
    box-shadow: #CCC 2px 2px 8px;
}
.company_sub_boxes {
	padding:0px 0px 10px 10px;
	height:150px;
	overflow:auto;
	clear:left;
}

.company_boxes_titles {
	position:relative;
	top:-12px; 
	background-color:#FFF; 
	float:left; 
	margin-left:7px; 
	padding:0px 5px 0px 2px;
}

a.column_title {
	font-weight:bold;
	color:black;
	font-size:18px;
}

.open {
	color:#F30;
}

.closed {
	color:#06C;
}
blockquote
{
    margin: 10px;
    font-style:italic;
}
caption, .table_caption
{
    font-size: normal;
    font-weight: bold;
    text-align: center;
    
}
tr.open td
{
    background-color: #ff8973;   
}
tr.closed td
{
    background-color: #77A3FF;   
}
.travel div
{
width: 45%;
float: left;
margin: 10px 5px;
}
.travel div input
{
width: 150px;
clear: both;
}

/*******************************************************************/
/*
table, td, a {
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
}

h1 {
	font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}

h2 {
	font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}

h3 {
	font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #008000;
	margin: 0 0 15px 0
}
*/
/* end basic styling                                 */

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
	
	width: 100%
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
	width: 100%;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 100%;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	width: 100%;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block;
	width: 100%;
}

/* make the TH elements pretty 
thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}
*/
/* make the A elements pretty. makes for nice clickable headers                
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}
*/
/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}
*/
/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	max-height: 500px;
	overflow: auto;
	width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
*/
/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 13%;
}
html>body thead.fixedHeaderKBN th {
	width: 21%;
}
/*
html>body thead.fixedHeader th + th {
	width: 240px
}

html>body thead.fixedHeader th + th + th {
	width: 316px
}
html>body thead.fixedHeader th + th + th + th{
	width: 400px
}
*/
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 12%;
	
}
html>body tbody.scrollContentKBN td {
	width: 20%;
	
}
/*
html>body tbody.scrollContent td + td {
	width: 240px
}

html>body tbody.scrollContent td + td + td {
	width: 300px
}

*/
fieldset {
	margin: 0px;
	border-top-width: 2px;
	border-top-color: #000000;
	border-style: solid none none none;
}
form ul {
	list-style-type: none;
	margin:10px;
	padding:0;
}
legend {
	color: #787878;
	font-weight: bold;
	font-size: 125%;
}
form li {
	padding-bottom: 5px;
}


form.label {
	float: left;
	width: 150px;
    padding-right:2px;
	text-align: right;
}


.flag {
	background-color: red;
	text-align: center;
	width: 150px;
}